@import "tailwindcss";

@font-face {
  font-family: "Alientz";
  src: url("./fonts/tt-alientz-variable.otf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-VariableFont_wght.ttf"), url("./fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
}

:root {
  --background: #080808;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.section-title {
  @apply text-[82px] text-left font-['Alientz'] font-normal leading-[96px] uppercase z-10;
}

.dark {
  @apply text-white;
}

.light {
  @apply text-black;
}
