@import "tailwindcss";

.footer {
  @apply relative flex justify-between items-start mt-[56px] pb-[83px] px-[120px] w-full;

  @media (max-width: 480px) {
    @apply grid justify-center gap-y-[24px] pb-[74px] px-[28px];
  }
}

.footer-left {
  @apply grid gap-y-[26px];
}

.footer-left-logoContainer {
  @apply flex items-end gap-x-[24px];

  @media (max-width: 480px) {
    @apply justify-between;
  }
}

.footer-left-logoContainer > img:first-child {
  @apply w-[132px] h-[66px];
}

.footer-left-logoContainer > img:last-child {
  @apply w-[66px] h-[66px];
}

.footer-left-linksContainer {
  @apply grid gap-y-[8px];

  @media (max-width: 480px) {
    @apply justify-center gap-y-[12px];
  }
}

.footer-left-linksContainer-link {
  @apply text-[#ffffff] text-[18px] text-left font-['Raleway'] underline duration-400 ease-in-out;

  @media (max-width: 480px) {
    @apply text-[14px] text-center;
  }
}

.footer-left-linksContainer-link:hover {
  @apply text-[#38aaff];
}

.footer-bottom {
  @apply relative grid justify-items-center self-end w-full;
}

.footer-bottom-copyright {
  @apply block text-[#ffffff] text-[18px] text-center font-['Raleway'] font-normal;

  @media (max-width: 480px) {
    @apply absolute bottom-[24px] w-full text-[14px];
  }
}

.footer-bottom-divisionLine {
  @apply w-[240px] h-[1px] bg-[#ffffff];
}

.footer-bottom-author {
  @apply absolute bottom-[-30px] text-[#ffffff] text-[18px] text-center font-['Raleway'] font-normal;
}

.footer-bottom-author > a {
  @apply relative bg-gradient-to-r from-[#ffffff] via-[#38aaff] to-[#006cbc] bg-clip-text text-transparent no-underline;
}

.footer-bottom-author > a::before {
  @apply bg-gradient-to-r from-[#ffffff] via-[#38aaff] to-[#006cbc];
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;  
}

.footer-bottom-author > a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.footer-right {
  @apply grid justify-items-end gap-y-[8px];

  @media (max-width: 480px) {
    @apply justify-center justify-items-center gap-y-[14px];
  }
}